article,
footer,
header,
main,
nav {
	display: block
}

[hidden] {
	display: none
}

script {
	display: none!important
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

a {
	background: 0 0
}

a:focus {
	outline: thin dotted
}

a:active,
a:hover {
	outline: 0
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

img {
	border: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

*,
:after,
:before {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body,
html {
	height:100%;
	font-size: 100%
}

body {
    display: flex;
    flex-direction: column;
	min-height: 100vh;
	background: #fff;
	padding: 0;
	margin: 0;
	font-family: "Noto Serif", "DejaVu Serif", serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: auto;
	tab-size: 4;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

a:hover {
	cursor: pointer
}

img,
object {
	max-width: 100%;
	height: auto
}

object {
	height: 100%
}

img {
	-ms-interpolation-mode: bicubic
}

img,
object {
	display: inline-block;
	vertical-align: middle
}

textarea {
	height: auto;
	min-height: 50px
}

.ulist>.title {
	line-height: 1.1;
	color: #7a2518;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: .25em
}

div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
td,
ul {
	margin: 0;
    margin-left: 5px;
    margin-right: 5px;
	padding: 0;
	direction: ltr
}

a {
	color: #2156a5;
	text-decoration: underline;
	line-height: inherit
}

a:focus,
a:hover {
	color: #1d4b8f
}

a img {
	border: none
}

p {
	font-family: inherit;
	font-weight: 400;
	font-size: 1em;
	line-height: 1;
	margin-bottom: 1.25em;
	text-rendering: optimizeLegibility
}
div .paragraph > p {
	line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", "DejaVu Sans", sans-serif;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-top: 1em;
	margin-bottom: .5em;
	line-height: 1.0125em
}

h1 {
	font-size: 2.125em
}

h2 {
	font-size: 1.6875em
}

h3 {
	font-size: 1.375em
}

h4,
h5 {
	font-size: 1.125em
}

h6 {
	font-size: 1em
}

em,
i {
	font-style: italic;
	line-height: inherit
}

ul {
	font-size: 1em;
	line-height: 1.2;
	margin-bottom: 1em;
	list-style-position: outside;
	list-style-type: square;
	font-family: inherit
}

ul {
	margin-left: 1.5em
}

ul li ul {
	margin-left: 1.25em;
	margin-bottom: 0;
	font-size: 1em
}

@media only screen and (min-width:768px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.2
	}
	h1 {
		font-size: 2.75em
	}
	h2 {
		font-size: 2.3125em
	}
	h3 {
		font-size: 1.6875em
	}
	h4 {
		font-size: 1.4375em
	}
}

table {
	background: #fff;
	margin-bottom: 1.25em;
	border: solid 1px #dedede
}

table tr td {
	padding: .5625em .625em;
	font-size: inherit;
	color: rgba(0, 0, 0, .8)
}

table tr.alt,
table tr:nth-of-type(even) {
	background: #f8f8f7
}

table tr td {
	display: table-cell;
	line-height: 1.6
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	word-spacing: -.05em
}

:not(pre)>code {
	font-size: .9375em;
	font-style: normal!important;
	letter-spacing: 0;
	padding: .1em .5ex;
	word-spacing: -.15em;
	background-color: #f7f7f8;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 1.45;
	text-rendering: optimizeSpeed;
	word-wrap: break-word
}

:not(pre)>code.nobreak {
	word-wrap: normal
}

:not(pre)>code.nowrap {
	white-space: nowrap
}

em em {
	font-style: normal
}

.menu {
	color: rgba(0, 0, 0, .8)
}

#footer,
#header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 62.5em;
	position: relative;
	padding-left: .9375em;
	padding-right: .9375em
}

#content:after,
#content:before,
#footer:after,
#footer:before,
#header:after,
#header:before {
	content: " ";
	display: table
}

#content:after,
#footer:after,
#header:after {
	clear: both
}

#header>h1:first-child {
	color: rgba(0, 0, 0, .85);
	margin-top: 2.25rem;
	margin-bottom: 0
}

#header>h1:first-child+#toc {
	margin-top: 8px;
	border-top: 1px solid #ddddd8
}

#header>h1:only-child {
	border-bottom: 1px solid #ddddd8;
	padding-bottom: 8px
}

#footer {
	margin-top:auto;
	max-width: 100%;
	background-color: rgba(0, 0, 0, .8);
	padding: 1.25em;
}

#footer-text {
	color: rgba(255, 255, 255, .8);
	line-height: 1.44
}

.sect1 {
	padding-bottom: .625em
}

@media only screen and (min-width:768px) {
	.sect1 {
		padding-bottom: 1.25em
	}
}

.sect1+.sect1 {
	border-top: 1px solid #efefed
}

h2:hover>a.anchor,
h3:hover>a.anchor,
h4:hover>a.anchor,
h5:hover>a.anchor,
h6:hover>a.anchor {
	visibility: visible
}

h2>a.link,
h3>a.link,
h4>a.link,
h5>a.link,
h6>a.link {
	color: #ba3925;
	text-decoration: none
}

h2>a.link:hover,
h3>a.link:hover,
h4>a.link:hover,
h5>a.link:hover,
h6>a.link:hover {
	color: #a53221
}

.ulist>.title {
	text-rendering: optimizeLegibility;
	text-align: left;
	font-family: "Noto Serif", "DejaVu Serif", serif;
	font-size: 1rem;
	font-style: italic
}

.ulist .ulist,
ul>li p {
	margin-bottom: .625em
}

ul.none {
	list-style-type: none
}

.black {
	color: #000
}

td.content {
	text-rendering: optimizeLegibility
}

h1,
h2,
p,
span.alt,
td.content {
	letter-spacing: -.01em
}

p,
span.alt,
td.content {
	font-size: 106%
}

#toctitle  {
	text-indent:1em;
	font-size: 21px;
}

p {
	margin-bottom: 1.25rem
}

@media print {
	@page {
		margin: 1.25cm .75cm
	}
	* {
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
		text-shadow: none!important
	}
	a {
		color: inherit!important;
		text-decoration: underline!important
	}
	a[href^="#"],
	a[href^="mailto:"] {
		text-decoration: none!important
	}
	a[href^="http:"]:not(.bare):after,
	a[href^="https:"]:not(.bare):after {
		content: "(" attr(href) ")";
		display: inline-block;
		font-size: .875em;
		padding-left: .25em
	}
	img,
	object,
	tr {
		page-break-inside: avoid
	}
	p,
	td.content {
		font-size: 1em;
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
	.sect1 {
		padding-bottom: 0!important
	}
	.sect1+.sect1 {
		border: 0!important
	}
	#header>h1:first-child {
		margin-top: 1.25rem
	}
	#footer {
		background: 0 0!important;
		padding: 0 .9375em
	}
	#footer-text {
		color: rgba(0, 0, 0, .6)!important;
		font-size: .9em
	}
}

#access {
	background: #222;
	background: -moz-linear-gradient(#252525, #0a0a0a);
	background: -o-linear-gradient(#252525, #0a0a0a);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#252525), to(#0a0a0a));
	background: -webkit-linear-gradient(#252525, #0a0a0a);
	-webkit-box-shadow: rgba(0, 0, 0, .4) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, .4) 0 1px 2px;
	box-shadow: rgba(0, 0, 0, .4) 0 1px 2px;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto 3px; 
	width: 100%
}

#access ul {
	font-size: 13px;
	list-style: none;
	margin: 0 0 0 -.8125em;
	padding-left: 0
}

#access li {
	float: left;
	position: relative
}

#access a {
	color: #eee;
	display: block;
	line-height: 3.333em;
	padding: 0 1.2125em;
	text-decoration: none
}

#access ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 3.333em;
	left: 0;
	width: 188px;
	z-index: 99999
}

#access ul ul ul {
	left: 100%;
	top: 0
}

#access ul ul a {
	background: #f9f9f9;
	border-bottom: 1px dotted #ddd;
	color: #444;
	font-size: 13px;
	font-weight: 400;
	height: auto;
	line-height: 1em;
	padding: 10px 10px;
	width: 168px
}

#access a:focus,
#access li:hover>a,
#access ul ul :hover>a {
	background: #efefef
}

#access a:focus,
#access li:hover>a {
	background: #f9f9f9;
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	color: #373737
}

#access ul li:hover>ul {
	display: block
}

#content h2 {
	text-align: center;
	font-size: 1.4em;
	font-weight: 700;
	color: #222;
	padding-bottom: 8.52mm;
	max-width: 18em;
	margin: 0 auto
}

#storycontent a,
#storycontent a:link {
	color: #ca9300;
	text-decoration: none;
	border-bottom: 2px dotted #e3cc8e;
	line-height: 1.2em
}

#storycontent a:hover {
	background: #d8a63a;
	color: #fff;
	border: none;
	padding: 2px 0
}

#storycontent {
	max-width: 42em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	line-height: 140%
}

#invertable {
	background: #fff
}

#nav-bottom,
#nav-top {
	text-align: center
}

#nav-top {
	border-bottom: 4px dotted #f5f5f5;
	padding-bottom: .4em;
	margin-bottom: 1.5em;
	margin-top: 0
}

#nav-bottom {
	margin-top: auto;
    margin-bottom: 5px;
	padding-top: 80px;
	background: url(https://гпімр.укр/fleur.svg) no-repeat center top;
	background-size: 55px 57px
}

form,
input {
	display: inline
}

.nav-dropdown,
.nav-next,
.nav-prev {
	display: inline;
	padding-left: .5em;
	padding-right: .5em
}

.nav-dropdown {
	display: inline
}

#help-with-errors {
	text-align: center;
	font-size: 87%
}

.paragraph>.title {
	text-align: center;
	text-decoration: underline
}

#report_error_button {
	cursor: pointer;
	position: absolute;
	z-index: 999999999;
	padding: 7px
}

.ui-dialog .validateTips {
	border: 1px solid transparent;
	padding: .3em;
	font-size: 75%
}

.ui-dialog input.text {
	width: 95%;
	padding: .4em
}

#license {
	text-align: right
}

@media print {
	@page {
		margin: auto!important
	}
	#access,
	#nav-bottom,
	#nav-top {
		display: none!important
	}
	#content h2 {
		background: 0 0!important;
		padding-bottom: .5em
	}
	#storycontent {
		max-width: 98%;
		text-align: justify
	}
	#footer {
		padding: 0!important
	}
}

.disclaimer {
	display: block;
	text-align: center;
	font-size: 80%;
	margin-bottom: 5.66mm;
	margin-left: 15%;
	margin-right: 15%
}

hr {
	border: none
}

hr::before {
	padding-top: 7.5mm;
	padding-bottom: 7.5mm;
	content: '* * *';
	font-style: italic;
	font-weight: 700;
	display: block;
	text-align: center
}

#storycontent {
	text-align: justify;
	text-justify: inter-word
}

#resizer {
	position: absolute;
	top: 2px;
	right: 2px;
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
}

#resizer div {
	position: relative;
   font-size: 150%;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#resizer div a span
{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1
}

#resizer a, #resizer a:hover {
	text-decoration: none;
	border: none;
	background: #fff;
	color: #000;
}

#resizer #smaller a {
	font-size: 75%;
}

/*#resizer #original a, #resizer #inverter a {
	font-size: 75%;
}*/
#resizer #bigger a {
	font-size: 125%;
}

#inverter, #inverter a, #inverter a:hover {
	background: #000;
	color: #fff;
}

#naslov {
	color: #fe5185;
}
